# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
ENV/

# =========================
# ENV & CONFIG (QUAN TRỌNG)
# =========================
.env
.env.*
*.env

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# TEST / COVERAGE
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker-compose.override.yml
*.pid

# =========================
# BUILD / DIST
# =========================
build/
dist/
*.egg-info/

# =========================
# CACHE
# =========================
.cache/

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/node_modules/
client/.vite/
client/dist/
client/package-lock.json

# =========================
# MISC
# =========================
*.swp
*.swo

# Cloudflare
cloudflare/id.txt
cloudflare/*.log

memory/*
test/*
service_test/
.claude/*

cloudflared-config.yml
